.pgg__cta {
    border:1px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 0 4rem 4rem 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.pgg__cta-conteng p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    color: #0000;
}

.pgg__cta-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.pgg__cta-btn button{
    background: #000;
    color: white;
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border:none;
    outline:none;
    cursor: pointer;
    min-width: 150px;
}