.pgg__features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.pgg__features-heading{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}

.pgg__features-heading h1{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    color: #ff8a71;
    margin-top: 2rem;
    
}

.pgg__features-container{
    flex:1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}